<div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light"><b><button type="button"  class="btn btn-warning btn-sm">Welcome &nbsp;{{recruiterDetails.name}}</button></b></div> 
   
   <div class="list-group list-group-flush">
       <a class="list-group-item list-group-item-action list-group-item-light p-3" routerLink="/recruiter-profile-update">Update Profile</a>
      <!--<a class="list-group-item list-group-item-action list-group-item-light p-3" routerLink="/recruiter-logo">Company Logo</a>--> 
       <a class="list-group-item list-group-item-action list-group-item-light p-3" routerLink="/job-applicant-list">Job Applications</a>
       <a class="list-group-item list-group-item-action list-group-item-light p-3" routerLink="/manage-jobs">Manage Jobs</a>
    <!--<a class="list-group-item list-group-item-action list-group-item-light p-3" routerLink="/recruiter-update-password">Password Change</a>--> 
       <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#" (click)="logout()">Logout</a>

   </div>
</div>
