<section class="section-hero overlay inner-page bg-image" style="background-image: url('assets/images/hero_1.jpg');" id="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1 class="text-white font-weight-bold">JobBoard</h1>
        <div class="custom-breadcrumbs">
          <a href="#">A platform for Recruiter and Job Seeker</a> <span class="mx-2 slash"></span>
        </div>
      </div>
    </div>
  </div>
</section>
<div id="overlayer"></div>
<div class="loader">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>


  

<div class="site-wrap">

  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div> <!-- .site-mobile-menu -->
  

  <!-- NAVBAR -->
  <header class="site-navbar mt-3">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="site-logo col-6"><a href="index.html">JobBoard</a></div>

        <nav class="mx-auto site-navigation">
          <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
            <li><a routerLink="/joblist" class="nav-link">Home</a></li>
            <li class="has-children">
              <a href="job-listings.html">Job Seeker</a>
            <ul class="dropdown">
              <li><a routerLink="/jobseeker-login">Login</a></li>
              <li><a routerLink="/jobseeker-signup">Signup</a></li>
            </ul>
            </li>

            <li class="has-children">
              <a href="job-listings.html">Recruiter</a>
            <ul class="dropdown">
              <li><a routerLink="/recruiter-login">Login</a></li>
              <li><a routerLink="/recruiter-signup">Signup</a></li>
            </ul>
            </li>


            <li class="has-children">
              <a href="job-listings.html">Job Listings</a>
              <ul class="dropdown">
                
                <li><a routerLink="/jobs/1">Developer</a></li>
                <li><a routerLink="/jobs/2">Designer</a></li>
                <li><a routerLink="/jobs/3">Software Tester</a></li>
                <li><a routerLink="/jobs/4">Project Manager</a></li>
                <li><a routerLink="/jobs/5">Server Admin</a></li>
              </ul>
            </li>
           
            <li><a href="blog.html">Blog</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li class="d-lg-none"><a href="post-job.html"><span class="mr-2">+</span> Post a Job</a></li>&nbsp;&nbsp;
            <li class="d-lg-none"><a href="login.html">Log In</a></li>
          </ul>
        </nav>
        
        <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
          <div class="ml-auto">
            <a href="post-job.html" class="btn btn-outline-white border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-add"></span>Post a Job</a>
            <a href="login.html" class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-lock_outline"></span>Log In</a>
          </div>
          <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span class="icon-menu h3 m-0 p-0 mt-2"></span></a>
        </div>

      </div>
    </div>
  </header>
  <router-outlet>
    
  </router-outlet>