<div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light">Welcome</div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-light p-3" routerLink="/jobseeker-profile">Profile</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" routerLink="/jobseeker-resume">Resume</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" routerLink="/jobseeker-image">Profile Image</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" routerLink="/jobseeker-password-change">Password Change</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" routerLink="/jobseeker-applications-status">Apllication Status</a>
    </div>
</div>