<section class="site-section">
    <div class="container">
      <div class="row">
       
        <div class="col-lg-8">
          <h2 class="mb-4">Recruiter Log In</h2>
          <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="p-4 border rounded" >

            <div class="row form-group">
              <div class="col-md-12 mb-3 mb-md-0">
                <label class="text-black" for="fname">Email</label>
                <input type="text" name="usernameOrEmail" id="fname" class="form-control" placeholder="Email address or User Name" ngModel>
              </div>
            </div>
            <div class="row form-group mb-4">
              <div class="col-md-12 mb-3 mb-md-0">
                <label class="text-black" for="fname">Password</label>
                <input type="password" id="fname" class="form-control" placeholder="Password" name="password" ngModel>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <input type="submit" value="Log In" class="btn px-4 btn-primary text-white">
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </section>
  