<section class="site-section" id="next">
    <div class="container">

      <div class="row mb-5 justify-content-center">
        <div class="col-md-7 text-center">
          <h2 class="section-title mb-2">Available Jobs</h2>
        </div>
      </div>
      
      <ul class="job-listings mb-5" *ngFor="let job of jobs">
        <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
          <a routerLink="/single-job/{{job.id}}"></a>
          <div class="job-listing-logo">
            <img src="data:image/png;base64,{{job.recruiter.logo}}" alt="Image" class="img-fluid">
          </div>

          <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
            <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
              <h2>{{job.id}}</h2>
             <strong>Job Id</strong>
            </div>
            <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
              <h2>{{job.recruiter.company}}</h2>
              <strong>Company</strong>
            </div>

            <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
              <h2>{{job.title}}</h2>
              <strong>job title</strong>
            </div>




            <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
              <span class="icon-room"></span> {{job.location}}
            </div>
            <div class="job-listing-meta">
              <span class="badge badge-primary">{{job.jobType}}</span>
            </div>
          </div>
          
        </li>
        

        

        
      </ul>

      <div class="row pagination-wrap">
        <div class="col-md-6 text-center text-md-left mb-4 mb-md-0">
          <span>Showing {{jobs.length}} Jobs</span>
        </div>
        <div class="col-md-6 text-center text-md-right">
          <div class="custom-pagination ml-auto">
            <a href="#" class="prev">Prev</a>
            <div class="d-inline-block">
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            </div>
            <a href="#" class="next">Next</a>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="py-5 bg-image overlay-primary fixed overlay" style="background-image: url('images/hero_1.jpg');">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-8">
          <h2 class="text-white">Looking For A Job?</h2>
          <p class="mb-0 text-white lead">Lorem ipsum dolor sit amet consectetur adipisicing elit tempora adipisci impedit.</p>
        </div>
        <div class="col-md-3 ml-auto">
          <a routerLink="/jobseeker-signup" class="btn btn-warning btn-block btn-lg">Sign Up</a>
        </div>
      </div>
    </div>
  </section>