<section class="site-section">
    <div class="container">
  <div class="d-flex" id="wrapper">
    
    <app-recruiter-menu></app-recruiter-menu>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
              
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                 
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="nav-item active"><button class="btn btn-info" type="submit" (click)="logout()">Logout</button></li>
                      
                       
                    </ul>
                   
                </div>
            </div>
        </nav>
        <!-- Page content-->
      
        <section style="background-color: #777a71;">
            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-8">
                  <div class="card" style="border-radius: 15px;">
                    <div class="card-body p-12">
                      
                        <form (ngSubmit)="updateProfile()">
                            <div class="form-row">
                              <div class="form-group col-md-6">
                                <label for="inputEmail4">Recruiter Name</label>
                                <input type="text" class="form-control form-control-sm" id="name" placeholder="Name" name="name" #name [(ngModel)]="recruiter.name">
                              </div>
                              <div class="form-group col-md-6">
                                <label for="inputPassword4">Company</label>
                                <input type="text" class="form-control form-control-sm" id="company" name="company" placeholder="Company Name" #company [(ngModel)]="recruiter.company">
                              </div>
                            </div>
                            <div class="form-row">
                            <div class="form-group col-md-6">
                              <label for="inputAddress">Address</label>
                              <input type="text" class="form-control form-control-sm" id="address"  name="address" placeholder="1234 Main St" #address [(ngModel)]="recruiter.address">
                            </div>
                            <div class="form-group col-md-6">
                              <label for="inputAddress">Contact</label>
                              <input type="text" class="form-control form-control-sm" id="phone"  name="phone" placeholder="9999999999" #address [(ngModel)]="recruiter.phone">
                            </div>
                          </div>
                            <div class="form-row">
                              <div class="form-group col-md-4">
                                <label for="inputCity">User Name</label>
                                <input type="text" class="form-control form-control-sm" id="username" name="username" #username [(ngModel)]="recruiter.username">
                              </div>
                              <div class="form-group col-md-4">
                                <label for="inputState">Email</label>
                                <input type="email" class="form-control form-control-sm" id="email" name="email" #email [(ngModel)]="recruiter.email">
                              </div>
                              <div class="form-group col-md-4">
                                <label for="inputZip">Website</label>
                                <input type="url" class="form-control form-control-sm" id="website" name="website" #website [(ngModel)]="recruiter.website">
                              </div>
                            </div>
                          
                            <button type="submit" class="btn btn-primary btn-sm" >Update Profile</button>
                          </form>
                     
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
       
    </div>
  </div>
  </div>
  </section>
  